/* created this separate styles component for header.js file */
/* but the drawback is it is not scoped for one component */
/* for this drawback we can use inline css */
/* this is vanilla css & here we split the css code components */
/* this module in the name make this css class scoped to component */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header img {
  object-fit: contain;
  margin-bottom: 2rem;
  width: 11rem;
  height: 11rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  color: #9a3412;
  font-family: "Pacifico", cursive;
  margin: 0;
}

/* here this is just in header.css but this styles are uploaded in authInput component too, */
/* because this is not scoped to component */
.paragraph {
  text-align: center;
  color: #a39191;
  margin: 0;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 4rem;
  }

  header h1 {
    font-size: 2.25rem;
  }
}
